{% extends 'base.html' %}

{% block head %}
<title>Finder </title>
{% endblock %}

{% block body %}
 
<h1 style="text-align: center;">Github Repository Fetching </h1>
<br><br>
<form style="text-align: center;" action="/" method="post">
    <label for="Name">Enter the Name of Github User you need to find Most complex Repository</label>
    <input type="text" name="Username" id="Name">
    <input type="submit" value="Fetch">
</form>
<br><br>
<p style="font-style: italic; font-size:small; text-align: center; ">* Currently this program only find the scores of Repository with C/C++, Python or java language.</p>
<p style="font-style: italic; font-size:small; text-align: center; ">** Account with large number of Repository and files can take a long time for searching.</p>

{% endblock %}
